
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'dashboard/userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Address</th>
                                        <th>status</th>
                                        <th>Payment type</th>
                                        <th>Created at</th>
                                        <th>Cart</th>
<!--                                        <th>Product Count</th>-->


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for co in customer_orders %}
                                    <tr>
                                        <td>{{ co.id }}</td>
                                        <td>{{ co.first_name }} </td>
                                        <td>{{ co.last_name }}</td>
                                        <td>{{ co.address }}</td>
                                        <td>{{ co.status }}</td>
                                        <td>{% if order.payment_type == 1 %}naqd{% else %}karta{% endif %}</td>
                                        <td>{{ co.created_at }}</td>
                                        <td><a href="{% url 'orderproduct_list' id=co.id %}"><i class="fas fa-eye fa-lg" style="color:grey"></i></a></td>
<!--                                        <td>{{ category.product_count }}</td>-->


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}