
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'dashboard/userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Product List</h2>
                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'product_create' %}">
                                <i class="zmdi zmdi-plus"></i>add</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                         <th>Image</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Cost</th>
                                        <th>Price</th>
                                        <th>Created at</th>

                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                               <td> <img id="output" style="width:180px;height:180;" src="{% if product %}/media/{{ product.image }}{% endif %}"></td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.cost }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.created_at }}</td>

                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="tooltip" href="{% url 'product_edit' pk=product.id %}" data-placement="top" title="" data-original-title="Edit">
                                                    <i class="zmdi zmdi-edit text-warning"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" href="{% url 'product_delete' pk=product.id %}" data-placement="top" title="" data-original-title="Delete">
                                                    <i class="zmdi zmdi-delete text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
     <script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>
{% endblock %}